<div>
    <div class="navbar-header">
        <span class="navbar-brand">Perspective</span>
    </div>
    <div class="collapse navbar-collapse">
        <span id="panel">
            {{! Here come buttons and other controls }}
        </span>
        <span id="user">
            {{! Here comes user menu }}
        </span>
    </div>
</div>
