<div>
    <div id="instancesSection" class="row" role="tablist">
        {{! Instances will be displayed here }}
    </div>

    <div id="imagesSection" role="tablist" class="row panel panel-default">
        <div class="panel-heading" role="tab" id="imagesListHeading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse"
                   data-target="#imagesList" href="#imagesList"
                   aria-expanded="true" aria-controls="imagesList">
                    <span class="fa fa-database"></span> Images
                </a>
                <button id="imagesSettings" class="pull-right"
                        title="Adjust image groups"><span
                        class="fa fa-cog"></span></button>
            </h4>
        </div>
        <div id="imagesList" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="imagesListHeading">
            <div id="imagesGroups" class="panel-body">
                {{! Image groups go here }}
            </div>
        </div>
    </div>
</div>
