<li class="dropdown">
    <button type="button" class="btn btn-default navbar-btn dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="fa fa-cloud"></span>
        Clouds
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="clouds">
        {{! Here come projects and regions }}
    </ul>
</li>