<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">+</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">First col</div>
                    <div class="col-md-6">Second col</div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">Tab 2</div>
        <div role="tabpanel" class="tab-pane" id="messages">Tab 3</div>
        <div role="tabpanel" class="tab-pane" id="settings">Tab 4</div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button id="cancel" type="button" class="btn btn-default pull-left">Cancel</button>
                <button id="add" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>

</div>