<table class="table table-hover">
    <thead>
    <tr>
        <th>
            <span class="fa fa-square-o selectAll" title="Select all instances in group"></span>
        </th>
        <th>Cloud</th>
        <th>Name</th>
        <th>Image</th>
        <th>Network</th>
        <th>Access</th>
        <th>State</th>
        <th>Last Modified</th>
        <th>More</th>
    </tr>
    </thead>
    <tbody>
    {{! Instances go here }}
    </tbody>
</table>
